body {
    box-sizing: border-box;
}

h1 {
    color: blue;
    text-align: center;
}

main {
    margin: auto;
    width: 800px;
}

.img-div {
    background-color: aqua;
    margin: auto;
}

img {
    max-width: 600px;
    height:auto;
}